*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header-top li{
	display: inline-block;
	float: right;
	padding: 2px;
	padding-left: 10px;

}
.header-top li a{
	text-decoration: none;
	position: relative;
	top: -30px;
	background: #000;
	padding: 10px;
	padding-left: 10px;
	border-radius: 5px;
	color: #fff;

}
.header-top li a:hover{
	text-decoration: none;
	position: relative;
	top: -30px;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	color: #000;
	transition: width 5s;
	-webkit-transition: width 3s;
}